.headerEntity {
  background-color: #FFFFFF;
  border-radius: 15px;

  padding: 15px 26px 24px;

  display: flex;
  flex-direction: column;

  gap: 56px;

  max-width: 1000px;

  margin: 184px auto 0;
}

.userActions {
  display: flex;
  align-items: center;

  gap: 14px
}

.topLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftWrapper {
  display: flex;
  align-items: center;

  max-width: 560px;
}

.logo {
  position: relative !important;

  width: 65px !important;
  height: 65px !important;

  border-radius: 10px;
}

.mainBlockInfo {
  display: flex;
  flex-direction: column;

  gap: 8px;

  margin-left: 28px;
}

.titleNameEntity {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.shortDesc {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.rightWrapper {

}

.userActions {

}

.listBlocksInfo {
  display: flex;
  align-items: center;

  justify-content: space-between;

  gap: 15px;
}

.blockInfo {

}

.blockInfoTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  color: #53616B;
}

.blockInfoValue {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
}
