.footer {
  background-color: #050707;
  color: #FFFFFF;

  padding: 25px;
}
.blockList {
  display: flex;
  align-items: start;
  justify-content: space-between;

  gap: 15px;
}

.block {

}

.blockLinks {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;

  margin-bottom: 10px;
}

.text {
  padding: 1px 0;
}

.socialNetworkList {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 15px
}

.wrapperButton {
  width: 184px;
}

.centered {
  text-align: center;
  color: #898B92
}

.linkTest {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;

  background-color: #0979FF;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;

  border-radius: 15px;
}
