.titlePage {
  font-size: 46px;
  font-weight: 600;
  line-height: 48px;

  margin: 22px auto 40px;
  text-align: center;
}

.teamList {
  display: flex;
  align-items: start;
  justify-content: space-between;

  gap: 20px;
  flex-wrap: wrap;
}
