.wrapper {

}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 19px;

  padding: 13px 15px;

  border: 1px solid #D9D9D9;
  border-radius: 10px;

  width: 100%;

  height: 48px;
}

.sizeMedium {
  height: 58px;
}

.input {
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #000000;

  outline: none;

  background-color: inherit;

  &::placeholder {
    color: #898B92;
  }
}
