.titlePage {
  font-size: 46px;
  font-weight: 600;
  line-height: 48px;

  margin: 22px auto 40px;
  text-align: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 18px;
}

.searchBlock {

}

.sortBlock {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;

  color: #898B92;
}

.sortBlock span {
  color: #000000;
}

.listNews {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 30px;
}
