.wrapper {
  padding: 32px 23px;

  background-color: #FFFFFF;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  gap: 25px;
}

.listStaff {
  display: flex;
  flex-direction: column;

  gap: 22px;
}
