.dropZone {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px dashed #D9D9D9;

  border-radius: 10px;
}

.dropZoneProfile {
  height: 100px;
}

.dropZoneBackground {
  height: 250px;
}

.hidden {
  opacity: 0;
  overflow: hidden;
  height: 0;
  width: 0;
}

.wrapperUploadImage {
  display: flex;
  align-items: center;

  gap: 30px;
}

.profileImage {
  width: 100px;
  height: 100px;

  background-color: #D9D9D9;

  border-radius: 9999px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.backgroundImage {
  width: 800px;
  height: 250px;

  background-color: #D9D9D9;

  border-radius: 10px;
}

.titleBlock {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
