@import "shared/lib/styles/variables.scss";

.sidebarOverlay {
  position: fixed;
  z-index: $ZIndexOverlay;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  visibility: hidden;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: $transitionDefault;
  opacity: 0;
}

.isOpened {
  visibility: visible;
  opacity: 1;
}

.sidebar {
  position: absolute;
  right: -100%;

  background-color: #FFFFFF;
  box-shadow: $boxShadowDefault;
  transition: $transitionDefault;

  width: 30%;
  height: 100%;

  margin-left: auto;

  border-radius: 10px 0 0 10px;
}

.sidebarInnerWrapper {
  overflow-y: scroll;

  padding: 30px;

  position: relative;
}

.isActive {
  right: 0;
}
