@import "@/shared/lib/styles/variables.scss";

.header {
  padding: 25px;

  background-color: #FFFFFF;

  position: relative;
}

.borderBottom {
  border-bottom: 1px solid #898B92;
}

.headerInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 800;
}

.gapHeader {
  height: 73px;
  width: 100%;
}

.wrapperInput {
  width: 100%;
  max-width: 420px;

  position: relative;
}

.leftWrapper {
  display: flex;
  align-items: center;

  gap: 30px;

  width: 100%;
  max-width: 557px;
}

.rightWrapper {
  display: flex;
  align-items: center;

  gap: 40px;

  width: 100%;
}

.wrapperSearchFoundBlock {
  position: absolute;
  top: 100%;
  left: 0;

  width: 600px;

  overflow: hidden;
  opacity: 0;
  display: none;

  transition: 0.2s ease-in-out;

  z-index: $ZIndexSearchEntityBlock;
}

.visibleSearchFoundBlock {
  overflow: visible;
  opacity: 1;
  display: block;
}

.userInfo {
  display: flex;
  align-items: center;

  gap: 5px;
}

.userPhoto {
  position: relative !important;

  width: 50px;
  height: 50px;

  background-color: #898B92;
  border-radius: 999px;
}

.userEmail {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}
