.cardFile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;

  height: 150px;
  width: 100%;
  max-width: 250px;

  border-radius: 10px;
  border: 1px solid #D9D9D9;

  padding: 15px;
}

.topWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px
}

.infoWrapper {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.additionalText {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  color: #898B92;
}

.deleteBtn {
  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}
