.cardLink {
  display: flex;
  justify-content: space-between;

  border: 2px solid #B6BFC6;
  border-radius: 10px;

  padding: 15px 15px 18px;

  transition: 0.2s ease-in-out;

  gap: 15px;

  width: 100%;
}

.cardLink:hover {
  transform: scale(1.05);
}

.leftWrapper {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.rightWrapper {
  display: flex;
  align-items: end;
}

.salary {
  color: #848F96;

  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
}

.salary span {
  color: #2E9BFF;
}
