.wrapper {
  padding: 23px;

  background-color: #FFFFFF;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.lineInfo {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  display: flex;
  align-items: center;

  gap: 5px
}

.mapWindow {
  border-radius: 15px;
}

.customMap {
  width: 100%;
  height: 156px;
}

.bottomLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phoneInfo {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  color: #3B3B3C;

  display: flex;
  align-items: center;

  gap: 5px;
}

.mapLink {
  padding: 12px 34px;

  border-radius: 12px;
  border: 2px solid #0979FF;

  color: #0979FF;

  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

