.cardNavReview {
  padding: 30px;

  background-color: #F9FAFC;

  border-radius: 20px;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topWrapper {

}

.bottomWrapper {

}

.lineStars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.textReview {
  margin: 30px auto 35px;

  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}

.innerWrapper {
  margin: 35px auto 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userWrapper {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 14px;
}

.userPhoto {
  position: relative !important;

  background-color: #898B92;

  border-radius: 999px;

  width: 52px;
  height: 52px;
}

.userInfo {
  width: 100%;
}

.userInfoName {
  width: 250px;

  font-size: 18px;
  font-weight: 600;
  line-height: 100%;

  margin-bottom: 14px;
}

.userInfoLocation {
  width: 250px;

  font-size: 15px;
  font-weight: 700;
  line-height: 100%;

  color: #585A62;
}

.dateReview {
  margin-bottom: auto;

  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.showMoreReviewsBtn {
  display: flex;
  align-items: center;

  gap: 7px;

  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
}
