.card {
  width: 100%;
  max-width: 320px;

  padding: 15px;

  background-color: #FFFFFF;

  border-radius: 10px;

  transition: 0.2s ease-in-out;

  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.bottomWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.withSalary {
  justify-content: space-between;
}

.salary {
  color: #848F96;

  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
}

.salary span {
  color: #2E9BFF;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 13px;

  width: 100%;
  max-width: 130px;

  color: #0B7BFF;
  background-color: #DAEBFF;

  font-size: 16px;
  font-weight: 700;
  line-height: 120%;

  border-radius: 6px;
}

.additionalInformationWrap {
  margin-bottom: 18px;
}

.marginBottom15 {
  margin-bottom: 15px;
}
